/* google fonts cdn */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */
/* font-family: "Poppins", sans-serif; */

/* Common css styles  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

section {
    padding: 60px 0px;
}

.sectionTitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.sectionTitle::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #0078FF;
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
}

.sectionSubTitle {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgb(78, 78, 78);
    margin: 40px 0px;
}

/* Header section start */
#header {
    background-color: rgb(0, 0, 0);
    padding: 20px 0px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.innerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-weight: 700;
}

nav {
    display: none;
}

nav ul {
    display: flex;
    align-items: center;

}

.menu_bar {
    border: none;
    outline: none;
}

.menu_bar i {
    font-size: 25px;
    /* background-color: transparent; */
}

nav ul li {
    list-style: none;
    padding: 0px 15px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
}

nav ul li a::after {
    content: "";
    display: inline-block;
    width: 0%;
    height: 2px;
    background-color: #ffff;
    position: absolute;
    top: 27px;
    left: 0;
    transition: .2s;
}

nav ul li:hover a::after {
    width: 100%;
}

.activeNave::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 27px;
    left: 0;

}

/* Header section end */

/* Banner section start */
#banner {
    min-height: calc(100vh - 75px);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero-img.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.bannerTitle {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: rgb(255, 255, 255);
}

.bannerSubTitle {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0px;
    color: rgb(255, 255, 255);
}

/* Banner section end */

/* About section start  */
#about {
    background-color: #fff;
}

.innerAbout {

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 64px;
}

.aboutLeftInfos {
    flex-basis: 100%;

}

.aboutRightInfos {
    flex-basis: 100%;
}

.avatar {
    width: 150px;
    height: auto;
    overflow: hidden;

}

.avatar img {
    width: 100%;
    border-radius: 7px;
}

.avatarContacts li {
    list-style: none;
    margin: 15px 0px;
    color: rgb(78, 78, 78);
}

.avatarContacts span {
    font-weight: bold;
}

.skils .skilsRange {
    width: 100%;
    height: 10px;
    background-color: #EDEDED;
    position: relative;
}

.skilsContainer h4 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    margin: 15px 0px;
}

.topicContainer {
    display: flex;
    justify-content: space-between;
}

.topicContainer p {
    font-size: 13px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    margin: 22px 0px;
    text-transform: uppercase;
    color: rgb(78, 78, 78);
}


.skils .skilsRange::after {
    content: "";
    width: 50%;
    height: 10px;
    background-color: #0078FF;
    position: absolute;
    left: 0;
    top: 0px;
}

.skils.html .skilsRange::after {
    width: 90%;
}

.skils.css .skilsRange::after {
    width: 70%;
}

.skils.js .skilsRange::after {
    width: 50%;
}

.skils.photo .skilsRange::after {
    width: 40%;
}

.aboutmeTitle {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
    font-family: "Raleway", sans-serif;
}

.aboutmeTitle::after {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #0078FF;
    position: absolute;
    left: 0;
    bottom: -6px;
    display: block;
}

.aboutRightInfos p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 16px 0px;
    white-space: inherit;
    color: rgb(78, 78, 78);
}

/* About section end  */

/* Service section start */
.serviceBox {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 60px 30px;
    margin: 20px 0px;
    border-radius: 10px;
    transition: 1s;
    overflow: hidden;
}



.serviceIcon {
    background-color: #0078FF;
    color: #fff;
    width: 65px;
    height: 65px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 20px;
}

.serviceTitle {
    font-size: 22px;
    font-weight: 700;
    margin: 15px 0px 10px 0px;
}

.servicePera {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    color: rgb(78, 78, 78);
}

/* Service section end */

/* Status Section start */
#status {
    background: linear-gradient(rgba(0, 119, 255, .7), rgba(0, 119, 255, .7)), url('../images/stats-bg.jpg');
    height: 390px;
    background-size: cover;
    background-position: top center;
    margin-bottom: 40px;
    background-attachment: fixed;
}

.statusBox {
    text-align: center;
}

.statusTitle {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin: 10px 0px;
}

.statusSubTitle {
    font-size: 16px;
    font-weight: 700;
    color: #ffffffa1;
    font-family: "Raleway", sans-serif;
}

/* Status Section end */

/* Portfolio section start */

.portfolioBox {
    width: 100%;
    position: relative;
    transition: .3s;

}

.portfolioBox:hover .bottomPortfolioContainer {
    visibility: visible;
}

.portfolioImg img {
    width: 100%;
}

.bottomPortfolioContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafeea;
    position: absolute;
    bottom: 50px;
    left: 44%;
    transform: translateX(-50%);
    width: 300px;
    margin-left: 20px;
    padding: 10px;
    visibility: hidden;
}

.bottomLeft h3 {
    font-size: 18px;
}

.bottomLeft p {
    font-size: 14px;
}

.bottomRight {
    display: flex;
    justify-content: space-evenly;
}

.bottomRight i {
    font-size: 18px;
    margin-left: 7px;
    transition: .3s;
}

.bottomRight i:hover {
    color: #0078FF;
}

/* Portfolio section end */

/* Price section start */
#pricing {
    background-color: #fff;
}

.innerPricing {
    display: flex;
    justify-content: space-between;
}

.pricingName {
    font-size: 18px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
}

.innerPricing h4 {
    font-size: 18px;
    color: #0078FF;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

/* Price section end */


/* frequently Section start */
#prequently {
    background-color: #fff;
}

.freequentlyRightContent {
    margin-top: 50px;
}

.frequentlyTitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.frequentlyTitle span {
    font-weight: normal;
}

.frequentlyDesc {
    font-size: 15px;
    color: #4e4e4e;
    margin-bottom: 15px;
}

.frequentlyItem {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.frequentlyItem .num {
    color: #0078FF;
}

.innerTitle {
    font-size: 18px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    transition: .3s;
}

.innerTitle:hover {
    color: #0078FF;
}

/* frequently Section end */

/* feedback section start */
#feedback {
    background-image: linear-gradient(rgba(0, 120, 255, .7), rgba(0, 120, 255, .7)), url('../images/testimonials-bg.jpg');
    padding: 80px 0px;
    background-size: cover;
    background-position: left center;
}

.fedbackImg {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #4F96E8;
}

.feedbackinner {
    text-align: center;
}


.fedName {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0px;
    color: #fff;
}

.fedPosition {
    font-size: 18px;
    color: #e2d4d4;
    margin-bottom: 10px;
}

.feedbackRatting {
    font-size: 15px;
    color: orange;
    margin-bottom: 10px;
}

.fedDesc {
    font-style: italic;
    color: #fff;
    font-size: 15px;
    /* width: 700px; */
    margin: 0px auto;
}

.fedDesc::before {
    content: "\f10d";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 8px;
    font-size: 22px;
}

.fedDesc::after {
    content: "\f10e";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-right: 8px;
    font-size: 22px;
}

/* feedback section end */


/* Contact section start */
.innerContact {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.innerDetails {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 20px;
}

.locationIcon {
    font-size: 20px;
    height: 56px;
    width: 56px;
    color: #0078FF;
    line-height: 56px;
    border: 1px solid #0078FF;
    text-align: center;
    border-radius: 50%;
    transition: .3s;
}

.locationIcon:hover {
    background-color: #0078FF;
    color: #fff;
}

.addressTitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
}

.addressDesc {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}


.formSection {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 40px;
    padding: 20px 25px;
}

.topInput input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
}

.subjectInput input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
}

.textAreadiv textarea {
    width: 100%;
    height: 150px;
    outline: none;
    padding: 10px;
}

.topInput input:focus {
    border: 1px solid #0078FF;

}

.subjectInput input:focus {
    border: 1px solid #0078FF;
}

.textAreadiv textarea:focus {
    border: 1px solid #0078FF;
}

.messageSendBtn {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.sendBtn {
    padding: 10px 15px;
    border-radius: 25px;
    background-color: #0078FF;
    outline: none;
    border: none;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
}

/* Contact section end */

/* Footer section  */
#footer {
    background-color: #0078FF;
    padding: 50px 40px;
}

.footterContents {
    text-align: center;
}

.footterContents p {
    color: #fff;
    margin-bottom: 10px;
}

.footerSocial {
    margin-bottom: 10px;
}

.footerSocial i {
    font-size: 18px;
    border: 1px solid #ffffffb6;
    /* padding: 10px; */
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #ffffffb6;
    cursor: pointer;
    transition: .3s;
}

.footerSocial i:hover {
    color: #fff;
}

.footterContents span {
    color: #fff;
    font-size: 12px;
}